#checkout-main-container{
    display: flex;
    flex-direction: column !important;
}

div#summary-box{
    width: 750px;
    height: 380px;
    margin: 20px auto 0 auto;
}
div#summary-box table{
    width: 90%;
    margin: 20px auto;
    padding: 30px 40px !important;
    border-top: solid #f1f1f1 10px;
    border-bottom: solid #f1f1f1 30px;
    border-left: solid #f1f1f1 40px;
    border-right: solid #f1f1f1 40px;
    border-radius: 5px !important;
    background: #f1f1f1 !important;
}
div#summary-box table th, td{
    font-size: 13px !important;
    font-weight: bolder !important;
    text-align: left;
}
div#summary-box table tr td:nth-child(1){
    width: 30px !important;
    text-align: center !important;
}
div#summary-box table tr td:nth-child(2){
    width: 120px !important;
}
div#summary-box table tr td:nth-child(3){
    width: 60px !important;
}
div#summary-box table td:nth-child(1), div#summary-box table td:nth-child(2), div#summary-box table td:nth-child(3){
    text-align: left;
}
div#summary-box table tr:nth-child(1) {
    line-height: 15px;
    color: #000000;
}
div#summary-box table tr:last-child {
    margin-bottom: 10px !important;
    border-bottom: #ccc solid 1px;
    color: #000000;
}
div#summary-box table tr{
    line-height: 15px;
}
div#summary-box table tfoot tr{
    color: #000000 !important;
}
div#summary-box table tfoot{
    border-top: 0 !important;
}
div#summary-box table caption {
    font-size: 15px;
    font-weight: 900;
    padding: 10px 0 10px 20px;
    text-align: left;
    background: #ccc;
}
div.checkout-box{
    width: 750px;
    margin: 20px auto 20px auto;
    padding: 20px;
}
div.checkout-box h1{
    width: 95%;
    background: #ccc;
    margin: 0 auto;
    padding: 10px 0 10px 20px;
}
.checkout-box-inner{
    width: 95%;
    margin: 0 auto 20px auto;
    padding-bottom: 10px;
    background: #f1f1f1;
}
#info{
    width:95%;
    margin: auto;
    padding: 50px 50px 30px 60px;
}
label{
    font-size: 12px;
    font-weight: 700;
}
#info select{
    width: 200px;
    height: 30px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    padding-left: 10px;
    color: #ccc;
}
#info select option{
    color: #000000;
}
#info select:focus{
    outline: #ff670c;
}
#info select>option:checked{
    background: #ff670c;
}
#info select option:first-child{
    color: #ccc !important;
}
#info select:first-of-type{
    margin-right: 35px;
}
#info textarea{
    display: block;
    width: 520px;
}
a#pay-button{
    display: block;
    width: 520px;
    margin-top: 20px;
    padding: 10px;
    color: #ffffff;
    background: #bb1010;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}
a#pay-button:hover{
    display: block;
    background: #ff670c;
    color: #ffffff !important;
}
