.login-wrapper {
    position:relative;
    margin-top:15px;
    height: 450px !important;
}
#login-box {
    width:358px;
    margin-top:0;
    padding:28px 25px;
    background-color:#fff;
    border:1px solid #bb1010;
    border-radius:5;
    position:absolute;
    left:50%;
    margin-left:-180px;
    top:0;
    display: none;
    transition: display 4s ease;
    border-radius: 5px;
}
#signIn-box {
    width:358px;
    margin-top:0;
    padding:28px 25px;
    background-color:#fff;
    border:1px solid #bb1010;
    border-radius:5;
    position:absolute;
    left:50%;
    margin-left:-180px;
    top:0;
    display: initial;
    transition: display 4s ease;
    border-radius: 5px;
}
#signIn-box h3 {
    margin-top:0;
}
input[type=text],[type=password] {
    padding:7px;
    width:100%;
    height:40px;
    margin-top:15px;
    font-size:15px;
    color: #444444;
    border: solid 1px #bb1010;
    border-radius: 5px;
}
input::placeholder{
    color: rgb(190, 190, 190);
    font-size: 15px;
}
input:focus {
    outline: none !important;
    box-shadow: 0 0 10px #ff670c;
}
input[type=button] {
    background:linear-gradient(to bottom,#bb1010 5%,#bb1010 100%);
    box-shadow: 0 0 0 #bb1010;
    border:1px solid #bb1010;
    color:#fff;
    width:306px;
    height:60px;
    margin-top:15px;
    font-size:18px;
    font-weight:400;
    cursor:pointer;
    text-shadow:0 1px 0 #ff670c;
    border-radius: 5px;
    }
input[type=button]:hover {
    background:linear-gradient(to bottom,#ff670c 5%,#ff670c 100%);
}
.login-wrapper a {
    font-size: 15px;
    text-decoration:none;
    color:#ff670c;
}
p.question {
    font-size: 15px;
    margin-bottom:0;
}
