html{ 
  height:100%;
  margin:0;
}
body{
  height: 100%;
  margin:0; 
  display:flex; 
  flex-direction:column;
  background: #531300 !important; 
}
header{
  height:80px;
  background: #531300;
}
.main-header{
  color: #ffffff;
}
.main-header h1{
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
.main-header span{
  font-size: 15px;
  font-weight: 500;
  float: right;
  margin-top: 40px;
  margin-right: 60px;
  color: #ffffff;
  text-decoration: none;
}
.main-header a:hover, span:hover{
  color: #ff670c;
}
div.main-inner-wrapper{
  height: -moz-calc(400% - 130px);
  height: -webkit-calc(400% - 130px);
  height: calc(400% - 130px);
  background: #ffffff;
}
.main-nav{
  width:100%;
  margin: 0;
  height: 100px;
  background: #f1f1f1;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(83,19, 0, 0.5);
          box-shadow: 0px 0px 7px 0px rgba(83, 19, 0, 0.5);
  
}
.icon-bar {
  margin: 0 auto;
  width: 480px;
  height: 80px;
  padding-top: 10px;
}

.icon-box {
  width:80px;
  float: right;
  height: 60px;
  margin: 20px;
}
.icon-bar a{
  text-decoration: none;
  color: #531300;
  cursor: pointer;
}
.icon-bar a:hover, .icon-box:active{
  color: #ff670c !important;
}
.icon-box i{
  font-size: 30px;
  color: #531300;
  text-align: center;
  margin: auto;
  width: 80px;
}
.icon-box span {
  display:block;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #531300;
}
.main-inner-box{
  width: 90%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.meal-box{
  width: 150px;
  height: 200px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(255,103, 12, 0.5);
          box-shadow: 0px 0px 7px 0px rgba(255, 103, 12, 0.5);
  border-radius: 5px;
}
.meal-box i{
  font-size: 10px;
  float: right;
  margin: 4px 1px;
  padding: 5px;
  color: #eeeeee;
  
}
.meal-box i:hover{
  font-size: 11px;
  color: #531300;
}
.meal-box img{
  width: 125px;
  height: 100px;
  margin: auto;
  padding-left: 25px;
}
.meal-box h2, h6{
  margin: 5px 0;
  text-align: center;
}
.meal-box h2{
  border-top: solid #ff650c10 1px;
  color: #531300;
  font-size: 12px;
  font-weight: 800;
  padding-top: 5px;
}
.meal-box h6{
  color: #531300;
  font-size: 12px;
  font-weight: 800;
}
footer{
  height:50px;
  margin-top:auto; 
  background: #531300;
}
.footer-bar{
  width: 200px;
  margin: auto;
}
.footer-text{
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.add-box {
  background-color: #ffffff;
  color: #531300;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  border-radius: 5px;
}

.close {
  color: #531300;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff670c;
  text-decoration: none;
  cursor: pointer;
}

#add-box-modal {
  width:358px;
  margin-top:0;
  padding:28px 25px;
  background-color:#fff;
  border-radius:5;
  border-radius: 5px;
}

input[type=text],[type=password] {
  padding:7px;
  width:100%;
  height:40px;
  margin-top:15px;
  font-size:15px;
  color: #444444;
  border: solid 1px #531300;
  border-radius: 5px;
}
input::placeholder{
  color: rgb(190, 190, 190);
  font-size: 15px;
}
input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #ff670c;
}
input[type=button] {
  background:linear-gradient(to bottom,#531300 5%,#531300 100%);
  box-shadow: 0 0 0 #531300;
  border:1px solid #531300;
  color:#fff;
  width:306px;
  height:60px;
  margin-top:15px;
  font-size:18px;
  font-weight:400;
  cursor:pointer;
  text-shadow:0 1px 0 #ff670c;
  border-radius: 5px;
  }
input[type=button]:hover {
  background:linear-gradient(to bottom,#ff670c 5%,#ff670c 100%);
}