table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
  }
th{
    text-align: left;
    margin-bottom: 40px;
    border-bottom: solid 20px #ffffff;
}
th:nth-child(2){
    width: 200px;
}
td:nth-child(2){
    padding-left: 10px;
}
th:nth-child(3){
    width: 80px;
}
tfoot{
    border-top: 50px solid #ffffff;
}
tr{
    margin-top: 10px;
}
td{
    font-size: 12px;
    padding: 5px 0;
}
.order-box-container{
    overflow: unset !important;
    height: 680px;
}
#order-box-outer{
    display: flex;
    flex-direction: column;
    height: 600px;
    padding: 20px 30px 20px 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(83,19, 0, 0.5);
          box-shadow: 0px 0px 7px 0px rgba(83, 19, 0, 0.5);
}
#order-box-outer ul:first-of-type{
    margin: 0 auto;
    padding: 10px 0;
    width: 322px;
    border: solid #ff670c10 1px;
    border-radius: 5px 5px 0 0;
}
#order-box-outer ul:first-of-type li:first-child{
    margin-left: 35px;
}
#order-box-outer ul:first-of-type li:nth-child(2){
    margin-left: 130px;
}
#order-box-inner{
    display: flex;
    flex-direction: column;
    height: 380px;
    padding: 20px 10px;
    border: solid 1px #ff650c10; 
    border-radius: 0 0 0 5px;
    overflow: scroll;
}

table i{
    font-size: 12px;
}
ul#total-box{
    margin: 0 0 0 150px !important;
    padding: 10px 0;
    width: 172px !important;
    border: solid #ff670c10 1px;
    border-radius: 0 0 5px 5px;
}
ul#total-box li:first-child{
    margin-left: 10px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 700;
}
ul#total-box li:nth-child(2){
    margin-left: 0px;
    font-size: 14px;
    font-weight: 700;
}
.addToOrder{
    color: #ffffff !important;
    font-size: 30px !important;
}
#order-box-outer ul{
    list-style-type: none;
    padding-left: 0 !important;
    width: 285px;
    margin: auto;
}
#order-box-outer li{
    display: inline !important;
}
#order-box-outer li:first-child{
    margin-right: 10px;
}
#order-box-outer li a{
    padding: 10px 20px;
    color: #ffffff;
    background: #531300;
    border: solid #531300 1px;
    border-radius: 5px;
}
